<h1>New Song</h1>
<form class="" action="/songs" method="post">
  <p>Name: <input type="text" name="song[name]" id="song_name" value=""></p>
  <p>Artist: <input type="text" name="song[artist]" value=""></p>
  <p>Genre: <input type="text" name="song[genre]" value=""></p>
<input type="submit" value="Submit">
</form>
